/* Header*/
header {
  text-align: center;
}

/* Image */
#featured-property figure img {
  margin: 0 auto;
  display: block;
}

/* Navigation Links */
nav a {
  padding: 10px;
  background-color: #f2f2f2;
  display: inline-block;
  margin: 0 5px;
}

/* Image Caption */
figcaption {
  font-size: 0.8em;
  text-align: center;
}

/* Text Block */
#featured-property p {
  width: 800px;
  margin: 0 auto 20px;
  text-align: center;
}

/* Details Section */
#details {
  margin-top: 20px;
}

#details div {
  float: left;
  width: 25%;
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}
